{% include "head.html" %}
<div class="wrapper">
    <div class="content">
        <header>
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="">Weather blog</a>
                <a class="navbar-brand text-for-navbar" href="http://127.0.0.1:8000/storage/">Weather storage</a>

                <input class="form-control mr-sm-2" type="search" placeholder="Enter City" aria-label="Search" id="cityName">
                <button class="btn btn-outline-success my-2 my-sm-0 buttonUp" type="submit" onclick="infoAboutCity()">Search</button>

            </nav>
        </header>

        <main>
            <div class="container-fluid" id="map"></div>

            <div class="listCity">
                <div class="card text-right" style="width: 25%">
                    <div class="card-header">
                        City
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" id="nameCity">Name</li>
                        <li class="list-group-item" id="tempCity">Temp</li>
                        <li class="list-group-item" id="description">Description</li>
                        <li class="list-group-item" id="date">Date</li>
                    </ul>
                </div>
            </div>
        </main>
    </div>

    <div class="footer"></div>

</div>


{% include "footer.html" %}
